<!DOCTYPE html>
<html>
<head>
  <title>Add Leftover</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <h1>Add Leftover</h1>

  <form method="POST">

  <h2>Storage Info</h2>
  <label for="location">Location:</label>
  <select name="location" required>
    <option value="fridge">Fridge</option>
    <option value="freezer">Freezer</option>
  </select>

  <h2>Leftover Details</h2>
  <label for="made_on">Made On (Date and Time):</label>
  <input type="datetime-local" name="made_on" required>

  <label for="tittle">Dish Name:</label>
  <input type="text" name="title" required>
  
  <label for="best_before">Best Before Date:</label>
  <input type="date" name="best_before" required>

  <h2>Entry Info</h2>
  <label for="added_by">Added By:</label>
  <input type="text" name="added_by" required>

  <div class="button-bar">
    <button type="submit" name="action" value="add">Add Leftover</button>
    <button type="submit" name="action" value="add_another">Add and Add Another</button>
    <a href="/"><button type="button">Cancel</button></a>
  </div>
</form>


</body>
</html>
